.kolor-tla-1 {
    background-color: #222222;

}
.kolor-tla-2 {
    background-color:#666668;
    color:#dfdfdf;
    width: 800px;
    margin:auto;
}

.obramowka {
    border:4px solid black;
}
body{
    font-family:Verdana;
    background-color:#444444;
    margin:5px;
}
h1,h2,h3{
    margin:10px;
}
.tlo-tabelki{
    border = "1px";
    background-color:#333333;
    border-spacing:0;
    border-collapse:collapse;
    margin:10px;
}
.styl-obrazka-1{
    width:400px;
    margin:auto;
    border:2px solid black;
}
.styl-obrazka-2{
    width:400px
}
.obramowka-na-likni{
    border:2px solid black;
    margin:2px;
}

a#officjalna {
    background-color: #222222;
}

.m-10 {
    margin: 10px;
}

.b-1 {

    border: 1px solid white;
}
a{

    background-color: #222222;
    margin: 10px;
    border: 1px solid white;
}
