.kolor-tla-1 {
    background-color: #222222;

}
.kolor-tla-2 {
    background-color:#666668;
    color:#dfdfdf;
    width: 1000px;
    margin:auto;
}

.obramowka {
    border:4px solid black;
}
body{
    font-family:Verdana;
    background-color:#444444;
    margin:5px;
}
h1,h2,h3{
    margin:10px;
}
.tlo-tabelki{
    border-collapse:collapse;
    border: 3px solid white;
    background-color:#333333;
    border-spacing:0;
    margin:10px;
}
.styl-obrazka-1{
    width:400px;
    margin:auto;
    border:2px solid black;
}
.styl-obrazka-2{
    width:400px
}
.obramowka-na-likni{
    border:2px solid black;
    margin:2px;
}

a#officjalna {
    background-color: #222222;
}

.m-10 {
    margin: 10px;
}

.b-1 {

    border: 1px solid white;
}
a{

    background-color: #222222;
  text-decoration:none;
}
th,td{
  border: 2px solid white;
}

.left{
  float: left;
}

.right{
  float: right;
}

.clear{
  float: clear;
}

.box-200{
  width: 200px;
  hight: 200px;
}

.box-100{
  width: 100px;
  hight: 100px
}

.margin-10 {
  margin: 10px;

}

.red{
  background-color:red;
}

.blue{
  background-color:blue;
}

.green{
  background-color:green;
}

.menu
{
float: left;
padding: 30px;
padding-bottom: 20px;
padding-top: 20px;
font-weight: 800;
color: yellow;
font-size: 18px;
background-color: black;
}
.menu:hover
{
background-color: yellow;
color: black;
}
a
{
text-decoration: none;
}
#linki
{
background-color: black;
}

tr {

  color: white;
}
